<section class="footer__area footer-bg" [class.box-m-15]="box_style">
  <div class="footer__top pt-100 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title mb-25">
              <a routerLink="/home/home-style-1">
                <img src="/assets/img/logo/logo-vital.jpg" alt="logo" width="30%" style="border-radius: 50%;">
              </a>
            </div>
            <div class="footer__widget-content">
              <p>CEO: Sergio Andres Becerra</p>
              <div class="footer__contact">
                <ul>
                  <li>
                    <div class="icon">
                      <i class="fal fa-map-marker-alt"></i>
                    </div>
                    <div class="text">
                      <span>Sede Principal: Tv. Metropolitana #13a - 23, Canchas la Futbolera Ciudad Venecia, Bucaramanga, Santander</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fal fa-envelope-open-text"></i>
                    </div>
                    <div class="text">
                      <span>Email: {{'vitalfutclub@gmail.com'}}</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fal fa-phone-alt"></i>
                    </div>
                    <div class="text">
                      <span>Telefono: +57 (314) 217 26 66</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title">
              <h5>information</h5>
            </div>
            <div class="footer__widget-content">
              <div class="footer__links">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Delivery Inforamtion</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms & Condition</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title mb-25">
              <h5>Customer Service</h5>
            </div>
            <div class="footer__widget-content">
              <div class="footer__links">
                <ul>
                  <li><a href="#">Shipping Policy</a></li>
                  <li><a href="#">Help & Contact Us</a></li>
                  <li><a href="#">Returns & Refunds</a></li>
                  <li><a href="#">Online Stores</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7">
          <div class="footer__copyright">
            <p>Copyright © <a routerLink="/home/vital">VitalFutClub</a> all rights reserved.
              <a>{{currentDate| date:'yyyy'}}</a>
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5">
          <div class="footer__social f-right">
            <ul>
              <li *ngFor="let item of social_links">
                <a [href]="item.link" target="_blank"><i [class]="item.icon"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
